body{
    margin: 0px;
    padding-top: 70px;
    padding-left: 220px;
    background-color: rgb(241, 241, 241);
}
.sidebar{
    position: fixed;
    left: 0;
    bottom: 0;
    border-right: 1px solid;
    top: 60px;
    width: 200px;
    background-color: white;
}
.sidebar-top{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 10px;

}
.sidebar-item-container{
    display: grid;
    grid-template-columns: 50px 1fr;
    margin-left: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
}
.sidebar-item-icon{

    width: 25px;
    margin-left: 15px;
}
.sidebar-item-text{

    margin: 5px 0 0 0;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}
#shorts-icon{
    width: 22px;
}
#subs-icon{
    width: 30px;
    margin-left: 11px;
}

.header{
    display: flex;
    flex: 1fr 4fr 1fr;
    justify-content: space-between;

    margin-bottom: 6px;
    position: fixed;
    top: 0; left: 0; right: 0;
    background-color: white;
    border-bottom: 1px solid;

    
}
.header-left{
    display: flex;
    align-items: center;
}
.header-right{
    display: flex;
    align-items: center;
}
.upload-icon{
    width: 22px;
    margin-right: 10px;
}
.notification-icon{
    width: 23px;
    margin-left: 15px;
    margin-right: 15px;
}
.channel-icon{
    width: 35px;
    border-radius: 35px;
    margin-left: 10px;
    margin-right: 30px;
}
.header-mid{
    display: flex;
    align-items: center;

}
.search-bar{
    width: 450px ;
    height: 30px;
    padding-left: 10px;
    font-size: 16px;

    
}
.search-button{
    width: 40px;
    height: 35px;
    border: none;
    background-color: white;
}
.search-icon{
    margin-top: 4px;
    width: 20px;
    height: 20px;
}

.menu{
    width: 18px;
    margin-left: 14px;
    margin-right: 10px;
}
.yt-icon{
    width: 100px;
    margin-left: 10px;

}

.main-container{
    /*
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    */
    
    
    display: flex;
    flex-wrap: wrap;
    column-gap: 15px;
    row-gap: 20px;
    
}

.video-box{
    display: flex;
    flex-direction: column;
    width: 400px;
    border-radius: 10px;

}

/*.video-thumbnail-box{
    border: 1px solid;
}
*/

.thumbnail{
    width: 100%;
}

.video-info-box{
    display: grid;
    grid-template-columns: 50px 1fr;
}

.pfp{

    width: 50px;
    border-radius: 50px;
}

.video-details{
    padding-left: 5px;
    margin-left: 5px;
    display: flex;
    flex-direction: column;
}
.video-title-box{
    margin-bottom: 3px; margin-top: 2px;
}

.video-title{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 15px;
    margin-top: 0; margin-bottom: 0px;
}
.author-box{

    margin: 1px;
}

.author{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    margin-top: 0; margin-bottom: 0px;
    color: rgb(83, 83, 83);
}
.views-box{

    margin: 1px;
}
.views{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    margin-top: 0; margin-bottom: 0px;
    color: rgb(83, 83, 83);
}